:javascript
  $(function() {
    $('#btnAnalizar').on('click', function() {
      $.post('/analizer/simbol_table', { sintax: $('#inputSintax').val()}, function(data) {
        
      });
    });
  });

.container
  .form-group
    %label{for: 'textAreaInput'}= t 'helpers.text_area_input'
    %textarea{class: 'form-control', id: 'inputSintax', rows: 3}
    %br
    %button{class: 'btn btn-primary', id: 'btnAnalizar'}= t 'helpers.analizar'

.container 
  .card
    .card-body
      %p{id: 'simbolTable'}